<script src="https://apis.google.com/js/client.js"></script>
<script type="text/javascript">
    window.access = {
        apikey: "<%= ENV['YOUTUBE_DATA_API_KEY'] %>"
    }
</script>
<main id="yo"></main>